@media screen and (min-height:561px) {
   
}
@media screen and (max-height:560px) {
}



#banner{width:100%;background:green; height:30%;}
#menu{width:100%;background:rgba(0,0,0,.0); height:65%; margin-top:2px;}
#info{width:100%;background:red;height:20%;}
#btns{width:90%;background:rgba(0,0,0,.0);margin: 5% auto;height:70%}
.btns_{width:100%;background:gray;margin-top:0px;height:45%;}
#qcode{
    width:33%;height:100%;background:blue;float:left;
}
#ticket{width:33%;height:100%;background:yellow;float:left;}
#map{width:33%;height:100%;background:gray;float:right;}   
#line{width:33%;height:100%;background:gray;float:left;}
#nearby{width:33%;height:100%;background:blue;float:left;}
#topup{width:33%;height:100%;background:red;float:right;}