@media screen and (min-height:561px) {
    #btns{
        margin-top:10%;
    }
    .btn_img_div{
         width:87%;
    }
    #info{
        height:80px;
    }
    .head{
          height:72px;
    width:72px;
        margin-top:4px;
    }
    
}
@media screen and (max-height:560px) {
     #btns{
        margin-top:6%;
    }
     .btn_img_div{
         width:80%;
    }
     #info{
        height:72px;
    }
    .head{
          height:60px;
    width:60px;
        margin-top: 6px;
    }
}



#banner{width:100%;background:green; height:32%;}
#menu{width:100%;background:rgba(0,0,0,.0);margin-top:2px;height:60%;}
#info{width:100%;background-color: white;
    border-left:none;
    border-right:none;
    border-top-style:solid;
    border-top-width: 1px;
    border-top-color:#f0f0f0;

    border-bottom-style:solid;
    border-bottom-width: 1px;
    border-bottom-color:#f0f0f0;
    
    margin-top:2%;}
#btns{width:100%;background:rgba(0,0,0,.0);height:60%;}
.btns_1{width:92%;margin-top:4%;height:44%; margin-left:4%;}
.btns_2{width:92%;margin-top:4%; height:44%;  margin-left:4%;}
#qcode{
    width:33%;height:100%;float:left;
}
#ticket{width:33%;height:100%;float:left;margin-left:0.8%;}
#map{width:33%;height:100%;float:right;}   
#line{width:33%;height:100%;float:left;}
#nearby{width:33%;height:100%;float:left;margin-left:0.8%;}
#topup{width:33%;height:100%;float:right;}
.btn_img_div{
   -webkit-appearance:none;
    margin:0px auto;
}
.btn_img{
    width:100%; 
    border:0px;
    -webkit-appearance:none;
}
.head{
    margin-left:12px;
    border:none;
    float:left;
    
}
.head_img{
    width:100%;border-radius:100%;
}
.username_div{
    height:64%;
    width:40%;
    float:left;
    margin-top:0px;
/*   background-color: aliceblue;*/
}
.username{
    font-family: '黑体';
    font-size:24px;
    float: left;
        margin-left:10px;
    margin-top:8%;
   color:#797979;
}
.city{
     font-family: '黑体';
    font-size:16px;
    float: left;
        margin-left:15%;
      color:#797979;
}
.city_div{
    height:30%;
    width:35%;
    float:left;
    margin-bottom: 0px;
/*    background-color:aqua; */
}
.weather_div{
   height:64%;
    width:30%;
    float:right;
    margin-top:0px;
/*    background-color: red;*/
}
.weather{
     font-family: '黑体';
    font-size:15px;
    float: right;
        margin-right:10px;
    margin-top:8%;
          color:#797979;
}
.balance{
    
     font-family: '黑体';
    font-size:16px;
    float: right;
     margin-right:10px;
    color: #ff6d1d;

}
.balance_div{
     height:30%;
    width:35%;
    float:right;
    margin-top:0px;
/*    background-color: blue;*/
}
.white{
    position: absolute;
    width: 100%;
        height:50%;
    background-color:black;
    bottom:0px;
}
.scroll{margin:0 auto; width:100%; height:100%;  position:relative; overflow:hidden;}
.scroll ul{list-style-type:none; padding:0; margin:0; position:absolute; top:0;left:0; width:99999px; height:100%; }
.scroll li{float:left; width:100%;}
 .prev{position:absolute; left:-2px; top:84px; }
  .next{position:absolute; right:-2px; top:84px;}
