#notused{
    width:100%;
}
#used{
     width:100%;
}


.templet_money_used{
     float:right;
    color:gray;
    font-family:'黑体';
    font-size:17px;
    margin-right:7px;
    line-height:30px;
    font-weight:500;
    
}
.templet_div_used{
    background-color:#f4f4f4;
    font-family:'黑体';
    width:100%;
    height:66px;
    border-left:none;
    border-right:none;
    border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0;
    border-top-style:solid;
    border-bottom-style:solid;
    border-top-width:1px;
    border-bottom-width:1px;
    color:gray;
}
.div_title{
    font-family:'黑体';
    font-size:20px;
    color: gray;
   text-align: left;
    display: block;
    width:100%;
    height:40px;
    margin-top:10px;
        margin-left:10px;
}
.bord{
    background:rgba(50,153,205,.8);
    width:100%;
    height:80px;
}
.choose{
    width: 35%;
    background-color:rgba(0,0,0,.0);
    height:100%;
    overflow:hidden;
     outline: none;
        
}
.select{
    font-family:'黑体';
    color:white;
    border:none;
    background-color:rgba(0,0,0,.0);
    font-size:23px;
    outline: none;
    margin:20% auto;
     -webkit-appearance:none;clip:none;
}
.option{
    background-color:rgba(50,153,205,.8);
     -webkit-appearance:none;
      outline:rgba(0,0,0,.0);
    text-decoration: none;
}